<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/css/flag-icons.min.css}" integrity="sha512-UwbBNAFoECXUPeDhlKR3zzWU3j8ddKIQQsDOsKhXQGdiB5i3IHEXr9kXx82+gaHigbNKbTDp3VY/G6gZqva6ZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{//github.com/downloads/lafeber/world-flags-sprite/flags32.css}"
    />
    <title>Title</title>
</head>
<body>
</body>
<div th:fragment="footer" th:with="currentUrl=(${@thymeleafBeans.removeLangFromUrl()})">
    <footer class="text-center text-white fixed-bottom" style="background-color: #0a4275;">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center pt-2">
                    <span class="me-3 mx-3" th:text="#{fragment.footer.changeLanguage}">Change language</span>
                </p>
                <div class="d-flex justify-content-center align-items-center">
                    <a th:href="@{${currentUrl}(lang=ie)}"><img class="mx-2" th:src="@{/assets/flags/IE.png}" alt="English(IE)" width="15" height="11"></a>
                    <a th:href="@{${currentUrl}(lang=fr)}"><img th:src="@{/assets/flags/FR.png}" alt="French(FR)" width="15" height="11"></a>
                </div>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright: MTU REACH programme (by Tanishq Deshmukh)
        </div>
    </footer>
</div>
</html>